<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bbs.mapper.BbsThirdUserMapper">
    <resultMap type="BbsThirdUser" id="BbsThirdUserResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="uuid" column="uuid"/>
        <result property="username" column="username"/>
        <result property="nickName" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="source" column="source"/>
        <result property="accessToken" column="access_token"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectThirdUserVo">
        select id, user_id, uuid, username, nickname, avatar, source,
         access_token, status, del_flag,
         create_by, create_time, update_by, update_time, remark
		from bbs_third_user
    </sql>

    <select id="selectThirdUserByUuidAndSource" parameterType="BbsThirdUser" resultMap="BbsThirdUserResult">
        <include refid="selectThirdUserVo"/>
        where del_flag = 0 and status = 0 and uuid = #{uuid} and source = #{source}
    </select>

    <insert id="insertThirdUser" parameterType="BbsThirdUser">
        insert into bbs_third_user (
        <if test="uuid != null and uuid != '' ">uuid,</if>
        <if test="userId != null">user_id, </if>
        <if test="username != null and username != '' ">username,</if>
        <if test="nickName != null and nickName != '' ">nickname,</if>
        <if test="avatar != null and avatar != '' ">avatar,</if>
        <if test="source != null and source != '' ">source,</if>
        <if test="accessToken != null and accessToken != '' ">access_token,</if>
        <if test="status != null ">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="delFlag != null ">del_flag,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="updateBy != null and updateBy != ''">update_by,</if>
        create_time,
        update_time
        )values(
        <if test="uuid != null and uuid != '' ">#{uuid},</if>
        <if test="userId != null">#{userId},</if>
        <if test="username != null and username != ''">#{username},</if>
        <if test="nickName != null and nickName != '' ">#{nickName},</if>
        <if test="avatar != null and avatar != '' ">#{avatar},</if>
        <if test="source != null and source != '' ">#{source},</if>
        <if test="accessToken != null and accessToken !='' ">#{accessToken},</if>
        <if test="status != null ">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="delFlag != null">#{delFlag},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="updateThirdUser" parameterType="BbsThirdUser">
        update bbs_third_user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="nickName != null and nickName != '' ">nickname = #{nickName},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="accessToken != null and accessToken != ''">access_token = #{accessToken},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where uuid = #{uuid} and source = #{source}
    </update>


</mapper>