<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('论坛导航链接列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
    <style type="text/css">
        .td_nowrap {
            white-space: nowrap; /* 不换行 */
            overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="link-form">
                <div class="select-list">
                    <ul>
                        <li>
                            链接名称：<input type="text" name="linkName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="bbs:link:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()"
               shiro:hasPermission="bbs:link:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="bbs:link:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('bbs:link:edit')}]];
    var removeFlag = [[${@permission.hasPermi('bbs:link:remove')}]];
    var prefix = ctx + "bbs/link";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "导航链接",
            columns: [{
                checkbox: true
            },
                {
                    field: 'linkId',
                    title: '链接ID'
                },
                {
                    field: 'categoryName',
                    title: '分类名称'
                },
                {
                    field: 'linkName',
                    title: '链接名称',
                    class: 'td_nowrap'
                },
                {
                    field: 'linkImage',
                    title: '链接图标',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push("<img width='27px' height='27px' src='" + value + "'/>");
                        return actions.join('');
                    }
                }
                ,
                {
                    field: 'vip',
                    title: 'VIP',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (value === 0) {
                            //否
                            actions.push("<span class=\"badge badge-primary\">否</span>");
                        } else {
                            //是
                            actions.push("<span class=\"badge badge-warning\">是</span>");
                        }
                        return actions.join('');
                    }
                }
                ,
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (value === 0) {
                            //正常
                            actions.push("<span class=\"badge badge-primary\">正常</span>");
                        } else {
                            //关闭
                            actions.push("<span class=\"badge badge-danger\">关闭</span>");
                        }
                        return actions.join('');
                    }
                },
                {
                    field: 'createBy',
                    title: '创建者'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    // class: 'td_nowrap',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    class: 'td_nowrap',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.linkId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.linkId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>